.About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1350px;
    
}


.details4{
    padding-left: 130px;
    width: 1540px;
   display: flex;
   flex-direction: column;;
   align-items:left;
    font-weight: 300;
    font-size: 45px;
}

.details4 p {
    margin: 15px;
}


.we{
    width: 600px;
    align-self: center;
}