.addvideo{
    height: 83vh;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.formPage{
    display: flex; 
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   height: 500px;

}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: transparent;
    height: 400px;
    padding: 15px;
    flex: start;
}

.title{
   color: rgb(90, 89, 89);
}


form input{
    padding: 10px;
    border: none;
    border-bottom:1px rgb(155, 155, 155) solid ;
    margin-bottom: 8px;
    font-family: cursive;
}

form input:focus{
    outline: none;
    
}

form textarea{
    padding: 10px;
    border: none;
    border-bottom:1px black solid ;
    border-bottom:1px rgb(155, 155, 155) solid ;
    font-family: cursive;
}

form textarea:focus{
    outline: none;
}

.submit{
    margin-top: 15px;
    width: 130px;
    padding: 8px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.image{
    width: 350px;
    overflow: hidden;
    border-radius: 5px;
}